* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
    line-height: 1.5;
    font-size: 1rem;
}

.header {
    position: fixed;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    box-sizing: border-box;
    width: 100vw;
    margin: 0 auto;
}

.menu {
    display: flex;
    list-style: none;
    font-weight: 700;
    font-size: 1.1rem;
}

.menu li {
    margin-left: 94px;
}

.menu li a {
    color: #5C459A;
    text-decoration: none;
}

.menu li a:hover {
    color: #000000;

}

.button{
    color: #5C459A;
    border: 3px solid;
    border-radius: 10px;
    padding: 5px;
}

.button:hover{
    border: 3px #5C459A solid;
    background: #5C459A;
    color: #FFFFFF;
    cursor: pointer;
}

.main {
    max-width: 1080px;
    min-width: 100%;
    box-sizing: border-box;
    font-size: 2.2rem;
    color: #FFFFFF;
    background: url(../img/glavn.jpg) center center no-repeat;
    background-size: cover;
    padding: 75px 740px 75px 60px;
    line-height: 1.2;
}

.main_k {
    font-size: 5.0rem;
}

.text_inf {
    color: #000000;
    font-size: 1.1rem;
    margin: 0 auto;
    box-sizing: border-box;
    text-align: left;
    font-weight: 300;
    padding: 30px 500px 30px 60px;
}

ol {
    margin: 0 40px;
}

.create-line{
    color: #000000;
    display: flex;
    border-top: 1px solid;
}

.footer {
    display: flex;
    align-items: center;
    padding: 15px 0 10px 15px;
    box-sizing: border-box;
    margin: 0 auto;
}
.tfooter {
    display: flex;
    list-style: none;
    font-weight: 400;
    font-size: 1rem;
}

.footer li a {
    color: #000000;
    text-decoration: none;
    margin-left: 50px;
}

.footer li a:hover {
    color: #5C459A;
}

.copy{
    color: black;
   margin: 0 0 0 700px;
}

